.input-w-300 {
  width: 300px !important;
}

.select-w-300 {
  width: 200px!important
}

.select-w-200 {
  width: 200px!important
}

.select-w-120 {
  width: 120px!important
}

.mgl-24 {
  margin-left: 24px!important;
}

.mgr-24 {
  margin-right: 24px!important;
}

// mavon-editor 相关
.markdown-body {
  height: auto!important;
  img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 24px 0px;
    cursor: pointer;
  }
  pre {
    padding: 0!important;
  }
}
